@import url('basis.css'); 
header#header.header {
     
    width: 100vw;    
}
main#main {
    margin: 0 12.5vw 0 12.5vw;  
    width: 75vw; 
}
div.heads {
    width: 75vw;
}
div.imgheader {
    width: 12.5vw;
    text-align: center; 
}
.header#header div#svgHeader{
    flex: 0 0 12.5vw; 
    text-align: center; 

}.h1header {
    font-size: 2.8rem; 
   
}
.h2header {
    font-size: 3.5rem;
    
}
.formLogin {
    flex: 0 0 500px; 
    padding: 15px; 
    font-size: 2rem; 
}
footer {
    padding: 15px;
    width: 100vw; 
    background-color: var(--AF_dg);
    color: grey; 
     
    
}

