:root { 
    --HF_blau: #4cb4e7; 
    --HF_gruen: #46962b; 
    --HF_gelb: #ffee00; 
    --AF_hellblau: #d4edfc; 
    --AF_magenta: #e6007e; 
    --AF_dg: #0a321e; 
 }

#footer {
    justify-content: space-around;
    flex-wrap: nowrap; 
    padding: 15px;
    width: 100vw; 
    background-color: var(--AF_dg);
    color: grey;
    
    
    
}
footer .linkFooter{
    text-decoration: none;
    color:grey; 
}
footer article {
    flex: 0 1 400px; 
    margin: 0 15px 0 15px;
    font-size: 1.5rem; 
    line-height: 2.5rem;
}
footer article.footerLeft p:first-child {
    font-size: 2.5rem; 
    line-height: 4rem;
}
footer article.footerRight p:first-child {
    font-size: 2.5rem; 
    line-height: 4rem;
}
article.footerLeft{
    padding-left: 25px;
}
